In [18]:
print("{},{}".format(10,20))
name = 'J'
age = 20
print(f"{name:!>10},{age:!^10.2f}")

10,20
!!!!!!!!!J,!!20.00!!!

In [51]:
print("{:+d}".format(52)) # 기호를 출력
print("{:+d}".format(-52))
print("{}".format(52))
print("{0}".format(-52))
print("{: }".format(52))
print("{:10}".format(52))
print("{:10d}".format(52))
print("{:+10d}".format(52))
print("{:+10d}".format(-52))
print("{:5^10d}".format(252)) #정렬이 있어야 0 이외의 정수를 넣거나 채우기 기능을 활용할 수 있다.
print("{:g}".format(255.0))  #소숫점이하의 숫자가 0인 경우만.
print("{:.0f}".format(255.8))   #.0f하면 반올림되서 정수로 출력됨.

+52
-52
52
-52
 52
        52
        52
       +52
       -52
5552525555
255
256

In [54]:
# 기본 자료형 : 리터널 : 자연수 : 숫자 : 정수
#                                        실수
#                        자연어 : 문자열 : 영어,...
# 파이썬 자료형 : 리스트 : 모든 타입들을 여러개 저장할 수 있음.
#             (java)List : GenericType(형) 이 Object되어있는 리스트와 같음.
# List<Type> list = new ArrayList<Type>();

ll = [] # 빈 리스트
l = [1,2,3,4] # 정수형 리스트
l2 = [10.52,25.2,36.1] # 실수형 리스트
l3 = ['a','b','c','d'] # 문자열형 리스트
l4 = [1,2,3,'a','b','c',10.52,25.2] # 혼합형 리스트
l5 = [1,2,3,'a','b','c',10.52,25.2,[10,11,12,13],"10"] # 리스트를 포함한 혼합형 리스트
l6 = [[1,2,3],[4,5,6],[7,8,9]] # 리스트를 포함한 리스트
# 리스트 안에 있는 값을 요소라고 한다.
연습1 = "Life is too short, you need python"

In [65]:
i = ["Life",'is',"too",'short']
print(i)

str1 = "Life is too short"
res = str1.split() # split시, 리스트로 나누어 줌.
print(res)
print(res[1])  # list.get(index)
print(res[-4])
print(l5[8])

print(l5[1] + l5[2])
print(l5[4] + l5[5])

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']
is
Life
[10, 11, 12, 13]
5
bc

In [71]:
a = [1,2,3,['a','b','c'],4]
b = a[3]
print(b)
print(b[1])
print(a[3][1])
print(a[-2][-2])
print(a[3][-2])

['a', 'b', 'c']
b
b
b
b

In [95]:
a = [1,2,3,['a','b',['Life','is'],'c'],4]
print(a[3])
print(a[3][2])
print(a[3][2][1][1:])

print(a[3][2][0][:])
#list도 slicing 가능.
print(a[0:0+2])
print(a[1:1+0]) # [] : 빈 리스트만 출력.
print(a[1:1+1]) #[2] : 요소가 하나인 리스트 : slicing을 하면 요소 하나만 가져와도 리스트가 된다.
print(a[1]) #2 : indexing을 하면 요소 자료형으로 가져온다.
print(a[0:2] + a[1:1+1]) # 리스트 + 리스트 :[1,2,2] : +는 연결 연산자가 된다.
print(a[0:2] * a[1]) # 리스트 * 정수 :[1,2,1,2] : *는 반복 연산자가 된다.
print(a[1:1+2] + list(a[3][1])) # list 연산자로 cast 해줄 수 있음.

# cast 함수 : str() , int() , list()

['a', 'b', ['Life', 'is'], 'c']
['Life', 'is']
s
Life
[1, 2]
[]
[2]
2
[1, 2, 2]
[1, 2, 1, 2]
[2, 3, 'b']

In [125]:
resl = ['Life','is','too','short']
print(resl)
print(resl[:])
print(resl[0])
print(resl[:4])
print(resl[0] , resl[1]) # 문자 + 문자
print(resl[0:0+1] + list(resl[1])) # 리스트 + 리스트 : ['life','i','s']
print(resl[0:0+1] , resl[0])
print("".join(resl[0:0+1]) + resl[1]) # .join : 문자열 변환
print(" ".join(resl))
print(",".join(resl))

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']
Life
['Life', 'is', 'too', 'short']
Life is
['Life', 'i', 's']
['Life'] Life
Lifeis
Life is too short
Life,is,too,short

In [139]:
str1 = "Life is too short"
res = ['Life','is','too','short']
print(str1[0:2])
print(res[0:2])
print(str1[:2])
print(res[:2])
print(str1[::2])
print(res[::2])
print(str1[::-1])
print(res[::-1])
print(str1[13:1:-1])
print(res[1:1+3])
print(res[3:0:-1])

Li
['Life', 'is']
Li
['Life', 'is']
Lf stosot
['Life', 'too']
trohs oot si efiL
['short', 'too', 'is', 'Life']
hs oot si ef
['is', 'too', 'short']
['short', 'too', 'is']

In [144]:
str1 = "Lyfe is too short"
str2 = str1.replace("Lyfe","Life")
print(str2)
str3 = ['Lyf','is','short','too']
print(str3)
str3[2] = 100
print(str3)
print(len(str1))
print(len(str3))

Life is too short
['Lyf', 'is', 'short', 'too']
['Lyf', 'is', 100, 'too']
17
4

In [160]:
# 리스트에 요소 추가하는 함수
li = ['Life','is']
print(li + ['too'])
li.append('too')
print(li)

# print(li.append("short")) python은 원래 데이터로만 출력이 가능.(print 안에 함수 못 넣음)
li.append('short')
print(li)

li.append(999)
print(li)

# 원하는 위치에 요소 추가
li2 = ['Life','short']
print(li2)
li2.insert(1,"is")
print(li2)

li2.insert(2,"too")
print(li2)

# 리스트 확장
a = [ 1,2,3 ]
b = [ 4,5,6 ]
print(a)
a.extend(b)
print(a)

['Life', 'is', 'too']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 999]
['Life', 'short']
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [174]:
# 요소 삭제
li2 = ['Life','is','too','short']
print(li2)
del li2[2]
print(li2)
del li2[1]
print(li2)

# 요소를 이용해서 삭제
li2.remove('short')
print(li2)

# 모두 삭제
li2.clear()
print(li2)  # [] : 빈 리스트만 남음.

l2 = ['Life','is','too','short',3]

# res = del l2[4]
# res = l2.remove('Life')
res = l2.pop()    # 비 복원 추출
print(res)
print(l2)

res = l2.pop()
print(res)
print(l2)

# index를 이용해서 요소 삭제 후 삭제된 요소 받아오기
res = l2.pop(1)
print(res)
print(l2)

res = l2.pop(0)
print(res)
print(l2)

# 복원 추출 : 주사위 , 배열
l2 = ['Life','is','too','short',3]

['Life', 'is', 'too', 'short']
['Life', 'is', 'short']
['Life', 'short']
['Life']
[]
3
['Life', 'is', 'too', 'short']
short
['Life', 'is', 'too']
is
['Life', 'too']
Life
['too']

In [190]:
# 정렬 -- 오름차순, 내림차순
l = [4,3,5,1,2]

# 오름차순으로 변경
l.sort()
print(l)

# 내림차순으로 변경
l.sort(reverse=True)
print(l)

le = ['b','a','c']   # 영문도 가능
le.sort()
print(le)

le.sort(reverse=True)
print(le)

le2 = ['다','가','나']    # 한글도 가능
le2.sort()
print(le2)

le3 = ['다','가','나','b','a','c']   # 혼합도 가능    
le3.sort()
print(le3)

# le4 = ['다','가','나','b','a','c'3,5,4,3]   # 문자 + 숫자는 불가능
# le4.sort()
# print(le4)

str1 = "Life is too short"
print(str1.index("too"))
idx = str1.find("too")
print(idx)

l = ["Life",'is','too','short']
idx = l.index("too")
print(idx)
# idx = l.find("too")     / 리스트에는 find 함수가 없다!

# idx = l.index("zoo") : 없는 것을 찾으려고 하면 오류 발생.

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
['가', '나', '다']
['a', 'b', 'c', '가', '나', '다']
8
8
2

In [198]:
# 기본 자료형 : 리터널 : 자연수 : 숫자 : 정수, 실수, 지수
#                        자연어 : 문자열 : "",'',"""""",''''''
# 파이썬 자료형 : List : []
#          튜플 : ()
l = [1,2,3,4]
print(l)

t = (1,2,3,4)
print(t)

l = [] # 빈 리스트
t = () # 빈 튜플
print((3 + 5) * 4) # () : 최우선 연산자
t = (3 + 5)
print((2)) #() : 최우선 연산자
print(t) #() : 최우선 연산자

print((2,)) #() : 튜플
print((t,)) #() : 튜플, 요소가 하나인 경우에는 최우선 연산자와 구별하기 위해 , 사용
t = (1,2) # 요소가 두개 이상인 경우 소괄호만 사용한다.

[1, 2, 3, 4]
(1, 2, 3, 4)
32
2
8
(2,)
(8,)

In [201]:
l = [] # 빈 리스트
t = () # 빈 튜플
l = [1] # 요소가 하나인 리스트
t = (1,) # 요소가 하나인 튜플
l = [1,2,3,4,5] # 정수형 리스트
t = (1,2,3,4,5) # 정수형 튜플
t = (10.5,2.5,30.6) # 실수형 튜플
t = ('a','b','c') # 문자열형 튜플
t = (1,2,3,'a','b','c') # 혼합형 튜플
t = (1,2,3,'a','b','c',[4,5,6]) # 리스트를 포함한 혼합형 튜플
t = (1,2,3,'a','b','c',(4,5,6)) # 튜플을 포함한 혼합형 튜플
t = (1,2,3,'a','b','c',(4,5,6),[7,8,9]) # 혼합형 튜플
t = [1,2,3,'a','b','c',(4,5,6),[7,8,9]] # 혼합형 리스트
t = 1,2,3,4,5,6 # : 튜플이 됨
print(t)

(1, 2, 3, 4, 5, 6)

In [216]:
stri = "Life is too short"
l1 = ["Life","is","too","short"];
print(l1)

t1 = ("Life","is","too","short");
print(t1)

print(stri[2])
print(l1[2])
print(t1[2])
# slicing
print(stri[2:2+2])   # 자바 type : str1.substring(1, 1+2)
print(l1[2:2+2])   
print(t1[2:2+2])
print("*"*90)
print(stri[:3])
print(l1[:3])
print(t1[:3])
print("*"*90)
print(stri[:2])
print(l1[2:])
print(t1[2:])
print("*"*90)

['Life', 'is', 'too', 'short']
('Life', 'is', 'too', 'short')
f
too
too
fe
['too', 'short']
('too', 'short')
******************************************************************************************
Lif
['Life', 'is', 'too']
('Life', 'is', 'too')
******************************************************************************************
Li
['too', 'short']
('too', 'short')
******************************************************************************************

In [230]:
str1 = "Lyfe is too short"
l1 = ["Lyfe","is","too","short"]
t1 = ("Lyfe","is","too","short")

strr1 = str1.replace("Lyfe","Life")
print(strr1)

l1[0] = 'Life'
print(l1)
## 리스트와 튜플의 차이
    # 리스트는 요소를 변경할 수 있지만 튜플은 요소를 변경할 수 없다. 자바 : 상수(변하지 않는 수)와 같다 FINAL변수와 같다.
    # 밑처럼 변경하려고 하면 오류가 나버림.

# t1[0] = 'Life'
# print(t1)

del l1[0]
print(l1)
# del t1(0)     /     요소가 변경되지 않으니 삭제도 되지 않는다 .!
print(len(t1))

idex = l1.index("too")
print(idex)

# index,find 같은 요소가 변경되지 않는 함수들은 사용이 가능하다.
idex = t1.index("too")
print(idex)

l = [1,1,2,2,3,3,4,4,5,5,6,6]
t = (1,1,2,2,3,3,4,4,5,5,6,6)
print(l.count(1))
print(t.count(1))

Life is too short
['Life', 'is', 'too', 'short']
['is', 'too', 'short']
4
1
2
2
2

In [236]:
l1 = ["Lyfe","is","too","short",3]
t1 = ("Lyfe","is","too","short",3)
print(l1[0]) # 문자
print(t1[0]) # 문자
print("*"*90)
print(l1[1:3]) # 리스트
print(t1[1:3]) # 튜플
print("*"*90)
print(l1[1:3] + l1[2:2+2]) # 리스트 + 리스트 = 연결 연산
print(t1[1:3] + t1[2:2+2]) # 튜플 + 튜플 = 연결 연산
print("*"*90)
print(l1[4]) # 정수
print(t1[4]) # 정수
print("*"*90)
print(l1[1:3] * l1[4]) # 리스트 * 정수 = 반복 연산
print(t1[1:3] * l1[4]) # 튜플 * 정수 = 반복 연산

Lyfe
Lyfe
******************************************************************************************
['is', 'too']
('is', 'too')
******************************************************************************************
['is', 'too', 'too', 'short']
('is', 'too', 'too', 'short')
******************************************************************************************
3
3
******************************************************************************************
['is', 'too', 'is', 'too', 'is', 'too']
('is', 'too', 'is', 'too', 'is', 'too')

In [250]:
# 형 변환 함수 / str(), int(), list(), tuple()
str2 = "hello"
num1 = "3"
i = 10

print(int(num1))
print(str(i))
print(list(str2))
print(tuple(str2))
print(str(i) + "10")

l = ['h','e','l','l','o']
print("".join(l)) # 리스트를 문자열로 형변환 할때는 join 사용.
print(str(l) + "10")

t = ('h','e','l','l','o')
print("".join(t)) # 튜플을 문자열로 형변환 할때는 join 사용.
print(','.join(t)) 
print(str(t) + "10")

3
10
['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
1010
hello
['h', 'e', 'l', 'l', 'o']10
hello
h,e,l,l,o
('h', 'e', 'l', 'l', 'o')10